


.observacion { vertical-align: top; border: 1px solid black; }

table thead td { 
	border-bottom: 0.1mm solid #000000;
	border-radius: 4px;
}

.table-fin { 
	border-bottom: 0.1mm solid #000000;
}

.firma {
	border-bottom: 1px dotted #000000;
}

.firma {
	border-bottom: 1px dotted #000000;
}

.recargo {
	color: green;
	padding-right: 10px ;
}